{% extends 'layout.html.twig' %}

{% block content %}

{% if filmGenre %}
<h2>Films par genre </h2>
<br/>
{% for film in filmGenre %}
	<div class="filmGenre">
		<img src="{{ film.image }}" />
		<h3>{{ film.nom }} - Fiche film</h3>
		<b>Genre: {{ film.genre_nom }}</b>
		<p class="description">
			{{ film.description }}
		</p>
		<a href="{{ path('film', {id: film.id}) }}">Fiche film &raquo;</a>
</div>
</br>

{% endfor %}
{% else %}
<h2>Fiche film</h2>

Film non trouvé!

{% endif %}
{% endblock %}